@import url(_reset.css);
@import url(_variables.css);
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500;700&display=swap');

body {
	background-color: var(--background-body);
	color: var(--color-dark92D32);
	font-family: var(--default-font-family);
}

.main-container {
	display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
	height: auto;
}

h2 {
	font-weight: var(--font-weight-bold);
	font-size: var(--font-size-large);
	line-height: var(--font-line-height-large);
	color: var(--color-dark);
}

h3 {
	font-weight: var(--font-weight-light);
  font-size: var(--font-size-normal);
  line-height: var(--font-line-height-medium);
	color: var(--color-dark);
}

input {
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 30px 16px;
	gap: 10px;
	width: 100%;
	background: var(--color-white);
	border: 1px solid rgba(81, 93, 116, 0.5);
	border-radius: 5px;
	height: 60px;
}

input[type=number]::-webkit-inner-spin-button { 
	-webkit-appearance: none;
	
}
input[type=number] { 
 -moz-appearance: textfield;
 appearance: textfield;

}

label {
	font-weight: var(--font-weight-light);
	font-size: var(--font-size-small);
	line-height: var(--font-line-height-small);
	color: var(--color-dark);
}

a, button {
	cursor: pointer;
}

.form-group {
	margin-bottom: 16px;
}

.form-control {
	margin-top: 8px;
}

.small-texts {
		font-weight: var(--font-weight-light);
    font-size: var(--font-size-small);
    line-height: var(--font-line-height-small);
}

.d-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.display-flex-column {
	display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.highlight {
  color: var(--color-pink);
  text-decoration: underline;
}

.underline {
	text-decoration: underline;
}

.mt-5 {
	margin-top: 5px;
}

.mt-10 {
	margin-top: 10px;
}

.mt-16 {
	margin-top: 16px;
}

.mt-24 {
	margin-top: 24px;
}

.mt-32 {
	margin-top: 32px;
}

.mb-5 {
	margin-bottom: 5px;
}

.my-16 {
	margin: 16px 0;
}